@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css');   /* .(21211.05.4) */

body {
    font-family: var(--GlobalFontFamily);
  }
  form {
    font-family: var(--GlobalFontFamily);
    border: 3px solid #f1f1f1;
  }
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  .imgavatar {
      width: 10%;
  }
  .container {
    height: 250px;
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  .HeaderNavListItemBack {
    display: none;
  }
  .HeaderNavListItemHome a,
  .HeaderNavListItemMtgLoc a {
    text-decoration: none;
    font-size: 18px;
    font-family: var(--GlobalFontFamily);
  }
  .LoginTitle {
    top: 75px;
    position: relative;
  }
  h2 {
    text-align: left;
    margin: 20px;
    font-size: 25px;
    font-family: var(--GlobalFontFamily);
  }
  /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*-----------------------------------------
The @media MAX-width query properties
***** IPHONE - Landscape
/*If Device Width 
  is >= 441px AND 
  <= 740px Then...*/

/*=========================================*/
@media only screen
and (min-width: 441px)
and (max-width: 740px) 
{ 
  .imgcontainer {
    margin: 16px 0 12px 0;
  }
  .container {
    padding: 10px;
    height: 170px;
  }
  h2 {
    margin: 10px;
  }
  input[type=text], 
  input[type=password] {
    width: 99%;
    padding: 12px 20px;
    margin: 0px 0;
  }
  button {
    width: 70%;
  }

  element.style {
    margin-left: 20px;
  }  
}
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }