
.Header {
    background-color: var(--HeaderFooterBGColor);
    top: 0;
    width: 900px;
    height: 70px;
    position: fixed;
    z-index: 100;
    max-width: var(--GlobalMaxWidth);
}
.LogoText { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: white;
    letter-spacing: 2px;
    text-shadow: 3px 3px 3px black;
    margin: 0px 0px 0px 20px;
}
.DeviceText::after{
    content: "\ [big screen]"
}
.DeviceText {
    font-size: 10px;
    font-weight: 600;
    font-family: var(--GlobalFontFamily);
    color: black;
    padding: 50px 0px 0px 0px;
    position: fixed;
}
.Header-nav-table {
    width: 115%;
}
.HeaderNavListItemCTA {
    text-align: center;
}
.HeaderNavListItemCTA a {
    font-family: var(--GlobalFontFamily);
    color: white;
    background: blue ;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
}
.HeaderNavListItemCTA a:hover,
.HeaderNavListItemCTA a:active {
    color: blue;
    color: #C0C0C0; 
}
.NextTag,
.next-meeting-date {
    font-family: var(--GlobalFontFamily);
    font-size: 14px;
}
/*------------------------------------------*/
.HeaderNavListItemCTA {
    animation     : wiggle 400ms 2s 8 ease-out none;
}
/*-----------------------------------------
The @keyframes wiggle properties
------------------------------------------*/
@keyframes wiggle {
      0% { transform: rotateZ(  0deg ); }
     50% { transform: rotateZ(-5deg ); }
    100% { transform: rotateZ( 5deg ); }
}
/*------------------------------------------*/

.HeaderNavListItemBack,
.NextTag {
    display: none;
}
.HeaderNavListItemHome a,
.HeaderNavListItemMtgLoc a {
    text-decoration: none;
    color: blue;
    font-family: var(--GlobalFontFamily);
    font-size: larger;
    font-weight: 700;
}
.HeaderNavListItemHome a:hover,
.HeaderNavListItemHome a:active,
.HeaderNavListItemMtgLoc a:hover,
.HeaderNavListItemMtgLoc a:active {
    color: cornflowerblue;
}    
.HeaderNavListItemMtgLoc {
    display: none;
}

.HeaderNavListItemAvatar {
    display: flex;
    width: 70px;
    text-align: right;
    padding: 10px 0px 0px 0px;
}
.AvatarImage {
    width: 80%;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*MEDIA - IPAD LANDSCAPE*/
@media only screen
and (min-width: 950px)
and (max-width: 1000px)
{
    .Logo {
        padding-left: 10px;
        padding-bottom: -30px;
    }
    .DeviceText::after{
        content: "\ [big screen]"
    }
    .DeviceText {
        font-size: 10px;
        font-weight: 600;
        font-family: var(--GlobalFontFamily);
        color: black;
        padding: 50px 0px 0px 0px;
        position: fixed;
    }
    .MenuWrap {  /*hamburger*/
        display: none;
        margin: 0px 0px 0px 30px
    }
    .MenuWrap .Menu > div {
        /*move menu around*/
        justify-content: left; /*was center*/
        padding-left: 300px; /*was deleted*/
        margin-top: -400px; /*was deleted*/
        /*end of move around*/
    }
    .MenuWrap .Menu > div > div > ul > li > a {
        font-size: 1rem;
        font-weight: 600;
        color: blue;
        padding: 0px;
    }
    .MenuList {
        border: blue 1px solid;
    }
    .MenuListItem {
        margin: -35px;
    }
    .HeaderNavListItemBack {
        display: none;
    }
    .HeaderNavListItemHome a,
    .HeaderNavListItemMtgLoc a {
        text-decoration: none;
        color: blue;
        font-family: var(--GlobalFontFamily);
        font-size: larger;
        font-weight: 700;
    }
    .HeaderNavListItemHome a:hover,
    .HeaderNavListItemHome a:active,
    .HeaderNavListItemMtgLoc a:hover,
    .HeaderNavListItemMtgLoc a:active {
        color: cornflowerblue;
    }
    .HeaderNavListItemAvatar {
        display: flex;
        padding: 10px 0px 0px 0px;
    }
    .PencilImage {
        display: none;
    }

}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*MEDIA - Tablet PORTRAIT*/
@media only screen
and (min-width: 741px)
and (max-width: 949px) 
{ 
    .Header {
        height: 70px;
        width: 100%;
        border-bottom: 0px solid #000;
    }
    .Logo {
        padding-left: 0px;
        padding-bottom: -30px;
    }
    .DeviceText::after{
        content: "\ [tablet]"
    }
    .DeviceText {
        font-size: 10px;
        font-weight: 600;
        font-family: var(--GlobalFontFamily);
        color: black;
        padding: 50px 0px 0px 0px;
        position: fixed;
    }
    .Header {
        max-width: var(--GlobalMaxWidth);
    }
    .HeaderSpacer {
        width: 100px;
    }
    .HeaderNavListItemBack,
    .HeaderNavListItemHome,
    .HeaderNavListItemMtgLoc {
        display: none;
    }
    .HeaderNavListItemAvatar {
        display: flex;
        padding: 0px 100px 0px 0px;
    }
    .AvatarImage {
        width: 50px;
    }
    .PencilImage {
        display: none;
    }

    /* .HeaderNavListItemCTA td {
        width: 10px;
    } */
    .HeaderNavListItemCTA {
        text-align: center;
        width: 200px;
        padding: 0px 0px 0px 0px;
    }
    .HeaderNavListItemCTA a {
        padding: 5px 5px;
        font-size: 14px;
    }    
    .MenuWrap {  /*hamburger*/
        display: none;
        margin: 0px 0px 0px 30px
    }
    .MenuWrap .Menu > div {
        /*move menu around*/
        justify-content: left; /*was center*/
        padding-left: 300px; /*was deleted*/
        margin-top: -400px; /*was deleted*/
        /*end of move around*/
    }
    .MenuWrap .Menu > div > div > ul > li > a {
        font-size: 1rem;
        font-weight: 600;
        color: blue;
        padding: 0px;
    }
    .MenuList {
        border: blue 0px solid;
    }
    .MenuListItem {
        margin: -29px;
    }
    /*
    .MenuListItemFooter {
        display: none;
    }
    */
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*MEDIA - IPHONE LANDSCAPE*/
/*=========================================*/
/*=========================================*/
/* The Header/Logo/Navigation properites   */
/*-----------------------------------------*/  
@media only screen
and (min-width: 440px)
and (max-width: 740px) 
{ 
    .Logo td {
        width: 250px;
    } 
  .Logo {
      width: 250px;
      padding: 1px 0px 0px 40px; 
      /* text-align: left; */
      /*display: none;*/
}
  .DeviceText::after{
        content: "\ [mobile]"
    }
  .DeviceText {
        font-size: 10px;
        font-weight: 600;
        font-family: var(--GlobalFontFamily);
        color: black;
        padding: 50px 0px 0px 0px;
        position: fixed;
    }
  .Header {
        height: 70px;
        width: 100%;
        /* border: 2px black solid; */
    } 
  .Header-nav-table {
    align-items: center;
    width: 95%;
  }
  .HeaderNavList {
        font-size: 8px;
    }
  .HeaderSpacer {
    width: 0px
  }

  .HeaderNavListItemBack,  
  .HeaderNavListItemMtgLoc,
  .HeaderNavListItemAvatar,
  .PencilImage {
        width: 0px;
        display: none;
    }
  .HeaderNavListItemHome {
        padding: 25px 0px 0px 0px;
        display: none;
        width: 2px;
    }
  .HeaderNavListItemHome a {
        font-size: 18px;
    }
  .HeaderNavListItemCTA {
        width: 200px;
    }  
  .NextTag {
        display: none;
    }
  .MenuWrap {  /*hamburger*/
        display: flex;
        margin-top: 0px;
        margin-left: 0px;
    }
  .MenuWrap .Menu > div {
        /*move menu around*/
        justify-content: left; /*was center*/
        padding-left: 220px; /*was deleted*/
        margin-top: -50px; /*was deleted*/
        /*end of move around*/
    }
  .MenuWrap .Menu > div > div > ul > li > a {
        font-size: 1rem;
        font-weight: 600;
        color: blue;
        padding: 0px;
    }
  .MenuList {
        border: blue 1px solid;
    }
  .MenuListItem {
        margin: -30px;
    }
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*MEDIA - IPHONE PORTRAIT*/
@media only screen
and (max-width: 440px)
  {
  /*--*/
    .Header {
        width: 440px;
        height: 75px
    }
    .Header-nav-table {
        width: 95%;
      }
    .HeaderNavListItem {
        list-style: none;
        display: inline-block;
    }
    .Logo {
        width: 110px;
        display: flex;
        padding: 0px 0px 20px 35px;
    }  
    .DeviceText::after{
        content: "\ [mobile]"
    }
    .DeviceText {
        font-size: 10px;
        font-weight: 600;
        font-family: var(--GlobalFontFamily);
        color: black;
        padding: 50px 0px 0px 100px;
        position: fixed;
    }
    .HeaderSpacer {
        width: 0px;
    }
    .HeaderNavListItemBack,
    .HeaderNavListItemHome,
    .HeaderNavListItemMtgLoc,
    .HeaderNavListItemAvatar,
    .PencilImage {
        display: none;
    }
    .NextTag {
        display: none;
    }
    .HeaderNavListItemCTA {
        display: flex;
        text-align: center;
        width: 140px;
        margin: 0px 0px 0px 0px;
    }
    .next-meeting-date {
        font-size: 12px;
        font-family: var(--GlobalFontFamily);
    } 
    .MenuWrap {  /*hamburger*/
        display: flex;
        margin-top: 0px;
    }
    .MenuWrap .Menu > div {
        /*move menu around*/
        justify-content: left; /*was center*/
        padding-left: 120px; /*was deleted*/
        margin-top: -100px; /*was deleted*/
        /*end of move around*/
    }
    .MenuWrap .Menu > div > div > ul > li > a {
        font-size: 1rem;
        font-weight: 600;
        color: blue;
        padding: 0px;
    }
    .MenuList {
        border: blue 1px solid;
    }
    .MenuListItem  {
        margin: -35px;
    } /*--*/          
}